%div{:style => "background:#f9f9f9"}
  %div{:style => "background-color:#f9f9f9"}
    %div{:style => "margin:0px auto;max-width:640px;background:transparent"}
      %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :style => "font-size:0px;width:100%;background:transparent"}
        %tbody
          %tr
            %td{:style => "text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:40px 0px"}
              .m_4763675300545777139mj-column-per-100{"aria-labelledby" => "mj-column-per-100", :style => "vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%"}
                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :width => "100%"}
                  %tbody
                    %tr
                      %td{:align => "center", :style => "word-break:break-word;font-size:0px;padding:0px"}
                        %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :style => "border-collapse:collapse;border-spacing:0px"}
                          %tbody
                            %tr
                              %td{:style => "width:138px"}
                                = File.open("app/assets/images/logo-medium.svg", "rb") { |file| raw(file.read) }

    %div{:style => "max-width:640px;margin:0 auto;border-radius:4px;overflow:hidden"}
      %div{:style => "margin:0px auto;max-width:640px;background:#ffffff"}
        %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :style => "font-size:0px;width:100%;background:#ffffff"}
          %tbody
            %tr
              %td{:style => "text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:40px 50px"}
                .m_4763675300545777139mj-column-per-100{"aria-labelledby" => "mj-column-per-100", :style => "vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%"}
                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :width => "100%"}
                    %tbody
                      %tr
                        %td{:align => "left", :style => "word-break:break-word;font-size:0px;padding:0px"}
                          %div{:style => "color:#737f8d;font-family:Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-size:16px;line-height:24px;text-align:left"}
                            = yield

                            %p
                              Atenciosamente,
                              %br/
                              Paranormais do GeoChat

    %div{:style => "margin:0px auto;max-width:640px;background:transparent"}
      %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :style => "font-size:0px;width:100%;background:transparent"}
        %tbody
          %tr
            %td{:style => "text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:20px 0px"}
              .m_4763675300545777139mj-column-per-100{"aria-labelledby" => "mj-column-per-100", :style => "vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%"}
                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation", :width => "100%"}
                  %tbody
                    %tr
                      %td{:align => "center", :style => "word-break:break-word;font-size:0px;padding:0px"}
                        %div{:style => "color:#99aab5;font-family:Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-size:12px;line-height:24px;text-align:center"}
                          Enviado pelo GeoChat
                    %tr
                      %td{:align => "center", :style => "word-break:break-word;font-size:0px;padding:0px"}
                        %div{:style => "color:#99aab5;font-family:Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-size:12px;line-height:24px;text-align:center"}
                          Dois Vizinhos, Paraná, BR
                    %tr
                      %td{:align => "left", :style => "word-break:break-word;font-size:0px;padding:0px"}
                        %div{:style => "color:#000000;font-family:Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-size:13px;line-height:22px;text-align:left"}
                          %img.CToWUd{"data-bit" => "iit", :height => "1", :src => "https://ci4.googleusercontent.com/proxy/7qej4ri_OZuyJhkakobxXF_tpdoaY2wwrZJGH107xr5X71z0SZkTqKrN3pr1lBRJo2hkZCfYZ-2U0gsxkrj_YB2CCMxXYZLibU1jlVidrUVofVsQRYtXEA4HPKekxg1loJGu4edoGSApUhL4f2xO-qREEF5yGJXj85rLhDO2KzI3OZKUtPGpKcCIh-_mOJj6eFKdOMM-1RrEOiO1M2riDiaPrww9SfStHoDR7TdnCov_qVA=s0-d-e1-ft#https://discord.com/api/science/755245259625070733/de392a00-7447-4340-978e-b2c7b6fe7425.gif?properties=eyJlbWFpbF90eXBlIjogInVzZXJfcGFzc3dvcmRfcmVzZXRfZG9uZSJ9", :width => "1"}/
  %img.CToWUd{:alt => "", :border => "0", "data-bit" => "iit", :height => "1", :src => "https://ci5.googleusercontent.com/proxy/znrvLqK3jooGlp2GngqCUhIypOPv5IhdvVLuB2FoNjF7BQkGeQJGS0JplbQuyJtdEp-pCDwX0UfRd7GRhZDVBk52_xmISenm02ANa0RAPgB0GKIbTfPoWKiNmy1FFgSeoO8zOxAt_ICijVtddLVA_Fb09d03eZ4XpaLWSrldhZDTyCazg-AW1iyewu9xgywe7CfZog0E9YLVXgpLw_JCmZLOzgZ4mPeNgiDmtaccvw872ixcAs1brWJQ-9_RrevuOQymJauHi9H_YEVJRNPrkpAWi5G1AYnR3Y_ereom2PmqgDgpw2Or5NncY30YtTtSehcUNkPZBZhnhBi7401Vkq0QHvo6x3PdjGIbrRxfQ5YphGtuv3KFb4rouEBRkDwZAqbqc4iiBvW32fFq2ZLRltCxBJ_uKcqCA7ghBDso63GT3a7J9R0N3Vt6CEbXOzywKJFiPcOka3oloKVs=s0-d-e1-ft#https://click.discord.com/wf/open?upn=g8jAUSQToiAhu8BVSkaMnHOb5gC4bpmoSjTu4ibCEzoDNeEnn3XLdLyzZTCjUFnwbrwchG0n2GAOqqRc8czbhU4rOswoZyjwfkCL6kGx3FZrMn6UnPOAvrWOZRh14K3s1vD6wf0vwBGYyx3ubVcH7M6oH8gQDHyXwMiN2wYHuglBAYEg4uNmt19SpuH1kNA3Ry4hLBj1qu8n2hXpyo0-2BkClRbzeQMVX97Ir29KsHrOodcGjS-2BZDWZliiU6GyTLGmsrbk-2FzmB8AG8klt61GxGdg-3D-3D", :style => "height:1px!important;width:1px!important;border-width:0!important;margin-top:0!important;margin-bottom:0!important;margin-right:0!important;margin-left:0!important;padding-top:0!important;padding-bottom:0!important;padding-right:0!important;padding-left:0!important", :width => "1"}/
