= render 'devise/mailer/mailer_header' do
  %h2{:style => "font-family:Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-weight:500;font-size:20px;color:#4f545c;letter-spacing:0.27px"} Ol치, #{@resource.name}!
  - if @resource.try(:unconfirmed_email?)
    %p Estamos entrando em contato para notific치-lo de que seu e-mail est치 sendo alterado para #{@resource.unconfirmed_email}.
  - else
    %p Estamos entrando em contato para notific치-lo de que seu e-mail foi alterado para #{@resource.email}.
