= render 'devise/mailer/mailer_header' do
  %h2{:style => "font-family:Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-weight:500;font-size:20px;color:#4f545c;letter-spacing:0.27px"} Olá, #{@resource.name}!
  %p Sua conta foi bloqueada devido a um número excessivo de tentativas de login malsucedidas.
  %p Clique no link abaixo para desbloquear sua conta:
  %p= link_to 'Desbloquear minha conta', unlock_url(@resource, unlock_token: @token)
